# virtualenv
.venv
venv

# ruff
.ruff_cache

# python
__pycache__

# pytest
.pytest_cache

# environments
.env

.DS_STORE

examples/data/train_hc_dataset_small_20240915_044230.csv
examples/data/val_hc_dataset_small_20240915_044230.csv
examples/train_hc_dataset_20240915_044230.csv
examples/val_hc_dataset_20240915_044230.csv
